#col1{
    color: #000000;
    background: #00fbff;
}
#col2{
    color: #FFFFFF;
    background: #000000;
}
#col3{
    color: #00fbff;
    background: #000000;
}   
#col4{
    color: #000000;
    background: #E9E7E7;
}
#col5{
    color: #000000;
    background: #009DFF;
}